[submodule "autotutor_api"]
	path = autotutor_api
	url = https://github.com/NatalieIsupova/autotutor_api.git
[submodule "autotutor_web"]
	path = autotutor_web
	url = https://github.com/NatalieIsupova/autotutor_web.git
